// Reset padding and margin


// Variables.

$primaryColor: rgb(211, 195, 57);
$secondaryColor: black;

// Variables end.

// Mobile styles.

@media screen and (min-width: 320px) and (max-width: 767px) {

// Push down will push the content slightly down so that it's not partially covered by the menu bar.

#push-down {
    padding-bottom: 47px;
}
// Push down styles end.    

// Container styles.

#container {
    display: flex;
    flex-wrap: wrap;
}

// End of Container styles.

#home-title {
    padding: 20px 0 20px 0;
    text-align: center;
}

// Form styles.

#home-form {
    // text-align: center;
    width: 80%;
    margin: 0 auto;
    
}

#home-form input, #home-form textarea {
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 3px;
    border: 1px lightgrey solid;
    font-size: 0.9em;
}

#home-form label {
    font-weight: 800;
    margin-left: 30px;
    border-radius: 3px;
}

#home-form label span {
    color: red;
}

#home-form input {
    height: 30px;
    width: 200px;
}

#home-form textarea {
    width: 200px;
    // border: 1px red solid;
}

#title, textarea {
    margin-bottom: 10px;
}

#title::placeholder, textarea::placeholder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#button {
    border: 0 !important;
    border-radius: 5px;
    background-color: $primaryColor;
    color: white;
    width: 60px !important;
    height: 40px !important;
    font-size: 20px;
    font-weight: 900;
    margin-left: 105px !important;
}

// Form styles end.

// Notes section styles.

#notes {
    width: 100%;
    padding-top: 20px;
}

#notes ul {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px grey solid;
}

#notes ul li {
    text-align: left;
    list-style: none;
    margin-left: 95px;
    padding-bottom: 5px;
    color: $secondaryColor;
}

#notes ul li:hover {
    color: $primaryColor;
}


// Notes section styles end.

}
// Mobile styles end.