// Reset all element padding and margin.

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


// Variables.

$primaryColor: rgb(211, 195, 57);
$secondaryColor: black;


// General styles

.showDropDownMenu {
    height: 200px !important;
    transition: height 1s ease-out;
}

.hideDropDownMenu {
    height: 50px;
    transition: height 1s ease-out;
}

.showMenuItems {
    padding-top: 100px;
    display: block;
    transition: padding 100s;
}

.hideMenuItems {
    display: none;
}

// Mobile styles.

@media screen and (min-width: 320px) and (max-width: 767px){

    // Header styles.

    #header {
        background-color: $primaryColor;
        height: 50px;
        width: 100%;
        overflow: hidden;
        position: fixed;

        #mobile-menu-icon {
            float: right;
            font-size: 2.5em;
            padding-top: 5px;
            padding-right: 5px; 
        }
    } 

    nav ul {
        display: none;

        li {
            padding-left: 20px;
            margin-bottom: 30px;

            a {
                color: $secondaryColor;
                text-decoration: none;
            }
        }
    }

    // Header styles end.
}

// Mobile styles end.

// Tablet styles.

@media screen and (min-width: 768px) and (max-width: 1024px) {
     // Header styles.

     #header {
        background-color: $primaryColor;
        height: 80px;
        width: 100%;
        overflow: hidden;
        position: fixed;

        #mobile-menu-icon {
            float: right;
            font-size: 3.5em;
            padding-top: 7px;
            padding-right: 7px; 
        }
    } 

    nav ul {
        display: none;

        li {
            padding-left: 20px;
            margin-bottom: 30px;

            a {
                color: $secondaryColor;
                text-decoration: none;
                font-size: 2em;
            }
        }
    }

    .showDropDownMenu {
        height: 250px !important;
        transition: height 1s ease-out;
    }

    // Header styles end.
}

// Desktop styles.

@media screen and (min-width: 1025px) {
    // Header styles.
    #header {
        height: 100px;
        background-color: $primaryColor;

        #mobile-menu-icon {
            display: none;
        }
    }
}