// Variables.

$primaryColor: rgb(211, 195, 57);
$secondaryColor: black;


// General styles.

#notes {

    #delete-note {
        font-size: 1.2em;
        font-weight: 700;
        padding: 5px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: rgb(221, 11, 81);
        color: white;
    }

    #delete-note:hover {
        font-size: 1em;
        font-weight: 500;
        padding: 5px;
        margin-top: 10px;
        background-color: #9D0038;
    }

    // Notes section styles.

    ul {
        padding-top: 50px;
        width: auto;
        height: auto;

        li {
            text-align: left;
            list-style: none;
            padding-bottom: 10px;
            padding-left: 70px;
            color: $secondaryColor;
            font-size: 1.5em;
        }
    }

    #note-card {
        border: 1px $secondaryColor solid;
        width: 80% !important;
        height: auto;
        background-color: white;
        position: fixed;
        top: 110px;
        left: 10%;
        right: 10%;
        text-align: center;
        padding-bottom: 15px;

        #note-title {
            color: $primaryColor;
            font-size: 1.3em;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #note-info {
            width: 80%;
            margin: 0 auto;
        }


        #note-timestamp {
            padding: 15px 0 0px 0;
        }

        #how-to-close {
            padding-top: 20px;
            color: red;
        }
    }
}

// Notes section styles end.


// End of general styles.


// Mobile styles.

@media screen and (min-width: 360px) and (max-width: 767px) {

    // Notes section styles.

    #notes ul li {
        font-size: 1.5em;
    }

    #notes ul li:hover {
        color: $primaryColor;
    }

}

// Notes section styles end.

// Tablet styles.
@media screen and (min-width: 768px) and (max-width: 1024px) {

    // Notes section styles.

    #notes ul {
        width: 60%;
        margin: 0 auto;

        li {
            font-size: 2em;
        }
    }

    #notes ul li:hover {
        color: $primaryColor;
    }

    #note-title {
        font-size: 2em;
    }

    #note-info {
        font-size: 1.5em;
    }

    #note-timestamp {
        font-size: 1.5em;
    }

    #how-to-close {
        font-size: 1.5em;
    }


    // Notes section styles end.

}

// Tablet styles end.