// Variables.

$primaryColor: rgb(211, 195, 57);
$secondaryColor: black;

// Notes section styles.

#notes ul {
    padding-top: 50px;
    width: auto;
    height: auto;
    // border: 1px grey solid;
}

#notes ul li {
    text-align: left;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 70px;
    color: $secondaryColor;
    font-size: 1.5em;
}

#notes ul li:hover {
    color: $primaryColor;
}

#noteCard {
    border: 1px red solid;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

// Notes section styles end.