// Variables.

$primaryColor: rgb(211, 195, 57);
$secondaryColor: black;

// Notes section styles.

#notes {
    width: 100%;
    padding-top: 20px;
    border: 1px red solid;
}

#notes ul {
    padding-top: 20px;
    width: 80%;
    margin-left: 50%;
    margin-right: 50%;
    border: 1px grey solid;
}

#notes ul li {
    text-align: left;
    list-style: none;
    // margin-left: 95px;
    padding-bottom: 5px;
    color: $secondaryColor;
}

#notes ul li:hover {
    color: $primaryColor;
}


// Notes section styles end.